@model  IEnumerable<SurveyTool.Models.Survey>

@{
    ViewBag.Title = "Index";
}

@if (User.IsInRole("Admin"))
{

    <h2>Create</h2>
    <ul>
        <li>
            <a href="@Url.Action("Create","Surveys")">Create a Survey</a>
        </li>
        <li>
            <a href="@Url.Action("Create","Categories")">Create a Category</a>

        </li>
        <li>
            <a href="@Url.Action("Create","Questions")">Create a Question</a>

        </li>
        <li>
            <a href="@Url.Action("Create","QuestionOptions")">Create a Question Options</a>

        </li>

    </ul>

    <h2>Show Lists</h2>
    <ul>
        <li>
            <a href="@Url.Action("Index","Surveys")">Surveys</a>
        </li>
        <li>
            <a href="@Url.Action("Index","Categories")">Categories</a>

        </li>
        <li>
            <a href="@Url.Action("Index","Questions")">Questions</a>

        </li>
        <li>
            <a href="@Url.Action("Index","QuestionOptions")">Question Options</a>
        </li>
    </ul>
}
else
{
    <h2>Take a survey</h2>

    <table class="table">
        <tr>
            <th>
                Survey Name
            </th>
            <th>

            </th>
        </tr>
        @foreach (var survey in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Create","Responses",new {id= survey.SurveyId })">@survey.Name</a>
                </td>

                <td>
                    @Html.ActionLink("Take Survey", "Create", "Responses", new { id = survey.SurveyId }, htmlAttributes: null)
                </td>
            </tr>
        }
    </table>

    

}





