@model  IEnumerable<SurveyTool.Models.Survey>

@{
    ViewBag.Title = "Index";
}

@if (User.IsInRole("Admin"))
{

    <h2>Dashboard <small>Survey Tool</small></h2>

    <hr />
    <h6>
        Create Items or see list
    </h6>
    <table class="table">
        <tr>
            <th>
                Items
            </th>
            <th>
                Actions
            </th>
        </tr>
        <tr>
            <td>
                <a href="@Url.Action("Create","Surveys")">Survey</a>
            </td>
            <td>
                @Html.ActionLink("Create", "Create", "Surveys", routeValues: null, htmlAttributes: null) |
                @Html.ActionLink("Show List", "Index", "Surveys", routeValues: null, htmlAttributes: null)
            </td>

        </tr>
        <tr>
            <td>
                <a href="@Url.Action("Create","Categories")">Category</a>
            </td>
            <td>
                @Html.ActionLink("Create", "Create", "Categories", routeValues: null, htmlAttributes: null) |
                @Html.ActionLink("Show List", "Index", "Categories", routeValues: null, htmlAttributes: null)
            </td>
        </tr>
        <tr>
            <td>
                <a href="@Url.Action("Create","Questions")">Questions</a>
            </td>
            <td>
                @Html.ActionLink("Create", "Create", "Questions", routeValues: null, htmlAttributes: null) |
                @Html.ActionLink("Show List", "Index", "Questions", routeValues: null, htmlAttributes: null)
            </td>
        </tr>
        <tr>
            <td>
                <a href="@Url.Action("Create","Questions")">Question Options</a>
            </td>
            <td>
                @Html.ActionLink("Create", "Create", "QuestionOptions", routeValues: null, htmlAttributes: null) |
                @Html.ActionLink("Show List", "Index", "QuestionOptions", routeValues: null, htmlAttributes: null)
            </td>
        </tr>
    </table>

}
else
{
    <h2>Take a survey <small>Survey Tool</small> </h2>
    <hr />
    <h6>
        Select any desired survey from below list
    </h6>
    <table class="table">
        <tr>
            <th>
                Survey Name
            </th>
            <th>

            </th>
        </tr>
        @foreach (var survey in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Create","Responses",new {id= survey.SurveyId })">@survey.Name</a>
                </td>

                <td>
                    @Html.ActionLink("Take Survey", "Create", "Responses", new { id = survey.SurveyId }, htmlAttributes: null)
                </td>
            </tr>
        }
    </table>



}





