@using SurveyTool.Models
@model Response

@{
    ViewBag.Title = "Create";
}


<h2>@Model.Survey.Name</h2>
<h6>Survey</h6>

<hr />

@using (Html.BeginForm("Create", "Responses", FormMethod.Post))
{
    @Html.HiddenFor(m => m.SurveyId)

    foreach (var category in Model.Survey.Categories)
    {
        <fieldset>
            <legend>@category.Name</legend>

            @foreach (var question in category.Questions)
            {
                @Html.HiddenFor(m => question.QuestionId)

                <h5>@question.Title</h5>

                <h6><i> @question.Description </i></h6>

                foreach (var questionOption in question.QuestionOptions)
                {
                    <input type="radio" name="questionOption[@question.QuestionId]" value="@questionOption.QuestionOptionId" required /> @questionOption.Name<br />
                }

                <br />
                <label><strong> Remarks</strong></label>
                <textarea name="Remarks[@question.QuestionId]" rows="2" cols="100"></textarea>
            }
        </fieldset>
    }

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit Survey" class="btn btn-success" />
        </div>
    </div>
}

