@model SurveyTool.Models.Response

@{
    ViewBag.Title = "Details";
}

<h2>Response <small> @Html.DisplayFor(model => model.Survey.Name)</small></h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Survey.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Survey.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryDate)
        </dd>

    </dl>
</div>

<div>
    <h4>
        Answers
    </h4>
    <hr />
    
    @foreach (var item in Model.Answers)
    {
        <dl class="dl-horizontal">
            <dt>
                Question:
            </dt>
            <dd>
                @Html.DisplayFor(m=> item.Question.Title)
            </dd>
            <dt>
                Answer:
            </dt>
            <dd>
                @Html.DisplayFor(m=> item.QuestionOption.Name)
            </dd>
            <dt>
                Remarks:
            </dt>
            <dd>
                @Html.DisplayFor(m=> item.Remarks)
            </dd>
        </dl>
    }

</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
