@model IEnumerable<SurveyTool.Models.Response>

@{
    ViewBag.Title = "Index";
}

<h2>Responses</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Survey.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntryDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("Details", new { id = item.ResponseId })">
                @Html.DisplayFor(modelItem => item.Survey.Name)
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntryDate)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ResponseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ResponseId })
        </td>
    </tr>
}

</table>
